# Other libraries
/external/

# Compiled libraries
*.a

# CMake build files
/build/
*/CMakeFiles/
*/CMakeCache.txt
*/CMakeScripts/
*/*.cmake
*/*.cmake.in
*/*.cmake.tpl

# VS Code settings
.vscode/

# macOS file
.DS_Store
